:root {
    --bgcolor: #0D0404;
    --fontcolor:#FFF2F2;
    --font: "Lato", sans-serif;
  }
.form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #330f0f;
    color: #FFF2F2;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    font-family:var(--font);
    background-color: rgba(51, 15, 15, 0.5); 
    backdrop-filter: blur(8px);
}


.form-container button[type="submit"] {
    display: block;
    margin: 20px auto 0;
    padding: 10px 10px;
    font-family:var(--font);
    font-size:0.9rem;
    background-color: var(--fontcolor);
    font-weight:bold;
    color: var(--bgcolor);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-container button[type="submit"]:hover {
    background-color: #EEE;
    color: #0D0404;
}
.form-container button[type="submit"]:active {
    background-color: #DDD;
}

@media only screen and (max-width:480px){
    
}